.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    padding: 0 20px;
    padding-top: 10vw;

    text-align: center;
    color: var(--white);

    background-image: url(../../assets/images/looperBackground.svg),
        url(../../assets/images/mainBackground.svg);

    background-position: right, right bottom;
    background-repeat: no-repeat;
    background-size: contain, cover;
}

.title {
    font-size: clamp(1rem, 8.7vw, 4.5rem);
    line-height: 90%;

    max-width: 50rem;
}

.description {
    font-size: clamp(0.7rem, 2vw, 1.25rem);

    max-width: 42rem;
}

.button {
    width: 220px;
    height: 48px;

    font-weight: 600;

    background: var(--white);
    border-radius: 4px;
    border: none;
}

.imgContainer {
    width: 95vw;
    max-width: 800px;
}
